 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Missouri State University Graduate with a BS in Marketing, and a minor in Design. Since 2010 I've been working in the account services realm of the marketing & advertising universe and I love every cat-herding second of it.</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm addicted to technology, peanut butter & jelly Ritz and optimism. I loathe pessimism.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume (nickcopelin.github.io/assets/NickCopelin_Resume.pdf)
                    </a>
                </div>
            </div>
        </div>
    </section>
